<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% include 'html_dependencies.html' %}
  <title>Document</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#">Application Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('app.home')}}">Applications</a></li>
            <li><a href="{{url_for('suggest.home')}}">Suggestions</a></li>
            <li class="dropdown">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if 'username' in session %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}

          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="apps">
      {% block content %} {% endblock %}
    </div>
    <footer class="text-center">

      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Designed by JP Designs 316, Copyright &copy; 2017
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
