{% extends 'index.html' %} {% block content %} {% if 'username' in session %}

<div class="container apps">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <legend>{% if type=='edit' %} Edit Application {% else %} Add Application {% endif %}</legend>
      <form method="post" class="form-horizontal" action="#">
        {{ form.hidden_tag()}}
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Company Name</label> {{ form.company_name }}
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Date: </label> {{ form.date_apply}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Position</label> {{form.position}}
            </div>
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Job Type</label> {{ form.job_type}}

              </fieldset>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Locaiton</label> {{form.location}}
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Industry:</label> {{form.industry}}
              </fieldset>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <label for="">Next Step:</label> {{form.next_step}}
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group app-forms">
                <fieldset class="form-group">
                  <label for="">Contact:</label> {{form.contact}}
                </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset class="form-group app-forms">
                <label for="">Where did you find this job?:</label> {{form.job_board}}
              </fieldset>
              <fieldset class="form-group app-forms">
                <label for="">Notes:</label> {{form.notes}}
              </fieldset>
              {% if type=='edit' %}
              <script>
                document.getElementById('notes').defaultValue = "{{app.notes}}";

              </script>
              {% endif %}
              <div>
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                  <input type="submit" class="btn btn-primary app-btn" value="Submit">
                </div>
              </div>
            </div>
      </form>
      </div>
      </div>
    </div>{% else %}
    <h1>You be here. Your IP has been logged</h1> {% endif %}
  </div>

  {% endblock %}
